.fondo-juego {
    min-height: 100vh;
    background-color: #539165 !important;
    margin: 0;
    padding: 0;
  }

.cartas {
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si las imágenes no caben */
    white-space: nowrap; /* Evita que las imágenes se envuelvan a la siguiente línea */
}

.cartas-banca {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; /* Puedes ajustar este valor según necesites */
}

.cartas-banca p {
    margin-right: 17px;
    color: white;
    font-size:20px;
    font-weight: bold;
}

.cartas-jugador {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinear al final */
    margin-top: 5%; /* Si lo prefieres en porcentaje */
}

.cards-enemys {
    display: flex;
    margin-top: -34% !important;
    margin-left: 5% !important;
}


.carta {
    width: 140px !important; /* Establece el ancho deseado para las imágenes */
    margin-right: 10px; /* Espacio entre cada imagen */
    
}

.rest-cards-not-playing {
    filter: grayscale(100%)
}

/* Main.css */
.page-publica {
    min-height: 100vh;
    background-color: #539165;
    margin: 0;
    padding: 0;
}

.lista {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
    white-space: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
    margin: auto; /* Centra horizontalmente el contenedor */
    margin-top: 170px;
    position: relative; /* Establecer la posición relativa para el contenedor */
    width: 90%;
}

.titulo {
    background-color: #3F497FFF;
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-left: 50px; /* Margen izquierdo */
    width: 500px; /* Ancho del cuadrado */
    height: 100px; /* Altura del cuadrado */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Radio de los bordes */
    margin-left: 650px; /* Mueve el cuadrado hacia la derecha */
    margin-top: 60px;

}


.button-game {
    background-color: #3F497F !important;
    color: white !important;
    width: 120px !important;
    height:70px !important;
    margin-right: 20px !important;
    border-radius: 25px !important;
    font-size: 50px !important;
    margin-top: 8%;
  }
  
.actions-container {
    display: flex;
    justify-content: space-around; /* Para distribuir los elementos de manera equitativa */
    align-items: center; /* Para alinear verticalmente los elementos */
}

.action-game {
    text-align: center; /* Alinea el texto al centro dentro del div */
    margin: 0 10px; /* Espacio entre los elementos */
    flex-direction: column !important; /* Para apilar los elementos uno encima del otro */
    align-items: center !important; /* Para centrar horizontalmente los elementos dentro de action-game */
    justify-content: center !important;
}

.button-game {
    margin-bottom: 5px; /* Espacio entre el botón y el texto */
    margin-top: 20px;
}

.action-game p {
    margin-right: 17px;
    color: white;
    font-size:20px;
    font-weight: bold;
}

.texto{
    margin-right: 17px;
    color: white;
    font-size:20px;
    font-weight: bold;    
}

/*******************
    CHAT
*******************/




/*******************************************************************************
** Listado de mesas públicas 
*******************************************************************************/

.container {
    display: inline-block; /* Para que el contenedor se ajuste al contenido */
    align-items: center;
    justify-content: center;
}

.containerr {
    padding: 16px;
    width: 420px;
    height: 320px;
    background-color: #8b0000;
    color: white;
    text-align: center;
    border-radius: 10px; /* Añade bordes redondeados */
    margin-left: 15px; /* Espacio entre elementos */
    display: grid;
    grid-template-areas: "primero" "description";
    grid-template-rows: 35% auto;
}

.primero {
    grid-area: primero;
    font-weight: bold;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.description {
    grid-area: "description";
    display: grid;
    grid-template-areas: "dif-bet" "jugar";
    align-items: center;
    justify-content: center;
}

.dif-bet {
    grid-area: "dif-bet";
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}

.jugar {
    align-self: end;
}

/* Estilos para el nivel Beginner */
.beginner {
    color: rgb(0, 255, 0);
}

/* Estilos para el nivel Medium */
.medium {
    color: yellow;
}

/* Estilos para el nivel Expert */
.expert {
    color: rgb(0, 255, 255);
}

/*******************************************************************************
** Chat partida 
*******************************************************************************/
.cuadrado-derecha {
    margin-top: 65px;
    position: absolute;
    top: 0;
    right: 0;
    width: 320px; /* ajusta el ancho según sea necesario */
    height: 93.5%; /* ajusta la altura según sea necesario */
    background-color: #ccc; /* color de fondo del cuadrado */
    border: 2px solid black; /* añade bordes de color negro con 2px de grosor */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-mensajes {
    justify-content: center;
    word-wrap: break-word; /* Permite que el texto se ajuste automáticamente al ancho del contenedor */
    margin-bottom: 20px; /* Añade margen inferior para dejar espacio para el formulario */
    flex-direction: row;
    width: 85%;
    overflow-y: scroll; /* Habilita el scroll horizontal */
}

.message {
    word-wrap: break-word; /* Permite que el texto se ajuste automáticamente al ancho del contenedor */
    background-color: #8b0000;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    width: 95%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.msg-txt {
    background-color: #8b0000;
    font-weight: bold;
    color: white;
    width: 100%; /* Asegura que el texto se ajuste al ancho del contenedor */
    overflow-wrap: break-word; /* Permite que el texto se ajuste automáticamente al ancho del contenedor */
}


.formulario-mensaje {
    display: flex; /* Usa flexbox para los elementos internos */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    margin-top: auto;
    margin-bottom: 10px;
    
}

.input-text {
    flex: 1; /* Hace que el campo de entrada ocupe el espacio disponible */
    padding: 8px;
    border: 2px solid #8b0000;
    border-radius: 10px;
    margin-right: 5px;
}

.icono-enviar {
    background-color: #8b0000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}