.cartas {
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si las imágenes no caben */
    white-space: nowrap; /* Evita que las imágenes se envuelvan a la siguiente línea */
    display: flex;
}

.carta {
    width: 100px; /* Establece el ancho deseado para las imágenes */
    margin-right: 10px; /* Espacio entre cada imagen */
}

.rest-cards-not-playing {
    filter: grayscale(100%)
}



/* Main.css */
.page-publica {
    min-height: 100vh;
    background-color: #539165;
    margin: 0;
    padding: 0;
}

.lista {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
    white-space: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
    margin: auto; /* Centra horizontalmente el contenedor */
    margin-top: 170px;
    position: relative; /* Establecer la posición relativa para el contenedor */
    width: 90%;
}

.titulo {
    background-color: #3F497FFF;
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-left: 50px; /* Margen izquierdo */
    width: 500px; /* Ancho del cuadrado */
    height: 100px; /* Altura del cuadrado */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Radio de los bordes */
    margin-left: 650px; /* Mueve el cuadrado hacia la derecha */
    margin-top: 60px;

}


/*******************************************************************************
** Formulario 
*******************************************************************************/
.forma-container {
    width: calc(50% - 10px); /* Establece el ancho máximo de cada formulario */
    margin: 0 5px; /* Añade un pequeño margen entre los formularios */
    display: flex;
    justify-content: center;
    margin-left: 300px;
    align-items: center;
    height: 100vh; /* Ajusta esto según tus necesidades */

}
  
.forma-login {
    display: flex;

    flex-direction: column;
    align-items: center;
    background-color: #820300 !important;
    padding: 60px;
    padding-right: 150px !important;
    padding-left: 150px !important;
    border-radius: 10% !important;
}

  
.buttona-login {
    font-size: 30px !important;
    margin-top: 5px !important;
    font-weight: bolder !important;
    background-color: #3F497F !important; /* Corrección del color de fondo */
    color: white !important; /* Definir el color del texto */
    padding: 30px 35px !important;
    border-radius: 25px;
    margin-top:5% !important;
}




.parta-form{
    display: flex;
    align-items: center;
    margin-top:9% !important;
}

.imga-form{
    font-size: 35px !important;
    color:white;
    margin-right:20px;
    margin-bottom:-6% !important;
}
  


.tituloa-form {
    font-size:35px;
    font-weight: bold;
    color:white;
}

.errora-login{
    background-color: black;
    color: white;
    padding: 40px; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 30px; 
    font-weight: bolder;
}


.forma-duplicado {
    display: flex;
    justify-content: space-between;
    margin: 0 200px; /* Agrega un margen horizontal */
  }
  

/*******************************************************************************
** Listado de mesas públicas 
*******************************************************************************/

.container {
    display: inline-block; /* Para que el contenedor se ajuste al contenido */
    align-items: center;
    justify-content: center;
}

.containerr {
    padding: 16px;
    width: 420px;
    height: 320px;
    background-color: #8b0000;
    color: white;
    text-align: center;
    border-radius: 10px; /* Añade bordes redondeados */
    margin-left: 15px; /* Espacio entre elementos */
    display: grid;
    grid-template-areas: "primero" "description";
    grid-template-rows: 35% auto;
}

.primero {
    grid-area: primero;
    font-weight: bold;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.description {
    grid-area: "description";
    display: grid;
    grid-template-areas: "dif-bet" "jugar";
    align-items: center;
    justify-content: center;
}

.dif-bet {
    grid-area: "dif-bet";
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}

.jugar {
    align-self: end;
}

/* Estilos para el nivel Beginner */
.beginner {
    color: rgb(0, 255, 0);
}

/* Estilos para el nivel Medium */
.medium {
    color: yellow;
}

/* Estilos para el nivel Expert */
.expert {
    color: rgb(0, 255, 255);
}

/*******************************************************************************
** Chat partida 
*******************************************************************************/
.message {
    background-color: #8b0000;
    font-weight: bold;
    color: white;
}

.emitter {
    background-color:#3F497FFF;
    font-weight: bold;
    color: white;
}

.msg-txt {
    background-color: #8b0000;
    font-weight: bold;
    color: white;
}

.input-text {
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

.enviar {
    background-color: #3F497FFF;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}



.cartas-pequeñas-container {
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    white-space: nowrap; /* Evitar el ajuste automático de líneas */
    width: 100%;
}

/* Estilos para las cartas pequeñas */
.cartas-pequeñas {
    display: flex; /* Mostrar las cartas horizontalmente */
}


.texto{
    margin-right: 17px;
    color: white;
    font-size:20px;
    font-weight: bold;    
}




/* Estilos para las imágenes de las cartas */
.carta-peq {
    width: 95px !important; /* Reducir el tamaño de las imágenes al 60% */
    margin-right: 10px; /* Agregar un margen derecho para separar las cartas */
}

.carta-grande {
    width: 130px ; /* Reducir el tamaño de las imágenes al 60% */
    margin-right: 10px; /* Agregar un margen derecho para separar las cartas */
}
.carta-bien {
    width: 20%; /* Reducir el tamaño de las imágenes al 60% */
    margin-right: 10px; /* Agregar un margen derecho para separar las cartas */
}

.actions-container {
    display: flex;
    justify-content: space-around; /* Para distribuir los elementos de manera equitativa */
    align-items: center; /* Para alinear verticalmente los elementos */
}

.action-game {
    text-align: center; /* Alinea el texto al centro dentro del div */
    margin: 0 10px; /* Espacio entre los elementos */
    flex-direction: column !important; /* Para apilar los elementos uno encima del otro */
    align-items: center !important; /* Para centrar horizontalmente los elementos dentro de action-game */
    justify-content: center !important;
}

.action-game p {
    margin-right: 17px;
    color: white;
    font-size:20px;
    font-weight: bold;
}

.button-game {
    margin-bottom: 5px; /* Espacio entre el botón y el texto */
    margin-top: 20px;
}

.fondo-juego {
    min-height: 100vh;
    background-color: #539165 !important;
    margin: 0;
    padding: 0;
  }

.espacio {
    margin-top: 10px;
    margin-bottom: 20px;
}
.cartas-banca {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; /* Puedes ajustar este valor según necesites */
}

.cartas-banca p {
    margin-right: 17px;
    color: white;
    font-size:20px;
    font-weight: bold;
}

.cartas-jugador {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinear al final */
    margin-top: 8%; /* Si lo prefieres en porcentaje */
}

.cartas-banca-resul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; /* Puedes ajustar este valor según necesites */
    margin-left: 800px;
}


.cartas-jugador-resul {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinear al final */
    margin-top: 5%; /* Si lo prefieres en porcentaje */
    margin-left: 800px;
}


.cards-enemys {
    display: flex;
    margin-top: -34% !important;
    margin-left: 5% !important;
}