
.modificar-eliminar-barajas {
    min-height: 100vh;
    background-color: #820300;
    margin: 0;
    padding: 0;
}

.lista{
    display:block;
    background-color: #820300;
    margin-top: 78px;
}
.lista-contenedor {
    height:900px;
    overflow-y: auto;
}
.glass {
    position: absolute;
    right: 10px;
    top: 50%;
    color: black;
    transform: translateY(-50%);
    width: 50px !important;
    height: 100px !important;
}

.baraja-list-item {
    margin-top: 20px;
}

.baraja {
    margin-top: 3%;
}

.baraja-div {
    display: flex;
    justify-content: space-between;
}


.baraja-container {
    display: block;
    margin-bottom: 10px;
}
