.page-dashboard{
  min-height: 100vh;
  background-color: #539165;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.avatar-dashboard {
    position: relative;
    left: 5%;
    top: 8%;
    margin-left: -80%;
    margin-top: 3%;
}

.option-dashboard {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .option-dashboard > * {
    width: 100%;
    margin-top: 5%; /* Reduciendo un poco el margen superior */
    font-size: 25px; /* Ajustando el tamaño del texto de los botones */
}

.recompensa {
  position: absolute;
  bottom: 200px;
  right: 300px;
}

.moneda-icono {
  width: 20px; /* Ancho deseado */
  height: 20px; /* Altura deseada */
  margin-right: -10px; /* Espacio entre el icono y el texto */
}