.page-dashboard{
  min-height: 100vh;
  background-color: #539165;
  margin: 0;
  padding: 0;
}


.avatar-dashboard {
    position: relative;
    left: 5%;
    top: 8%;
    margin-left: -80%;
    margin-top: 3%;
}

.option-dashboard {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .option-dashboard > * {
    width: 100%;
    margin-top: 10%;
  }
  