.ranking-trophy-page {
    min-height: 100vh;
    background-color: #539165;
    margin: 0;
    padding: 0;
}


.friend-list {
    max-height: 900px; /* Puedes ajustar este valor según tus necesidades */
    overflow-y: auto;
}
