.custom-button {
    background-color: #3F497FFF;
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 22px 42px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Agrega bordes redondeados al formulario */
}
  
  
 
.custom-button-centered {
    margin: 0 auto;
}
  