.custom-button {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Agrega bordes redondeados al formulario */
  }
  
  .custom-button:hover {
    background-color: #f0f0f0;
  }
  
  
  .custom-button-centered {
    margin: 0 auto;
  }
  