
.saludo {
  background-color: #3F497FFF;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-left: 50px; /* Margen izquierdo */
  width: 200px; /* Ancho del cuadrado */
  height: 50px; /* Altura del cuadrado */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* Radio de los bordes */
}
  
  .iguales {
    display: flex; /* Usa flexbox para alinear los elementos */
    align-items: center; /* Alinea verticalmente los elementos */
  }

.avatar-list {
    list-style: none;
    padding: 0;
    display: flex; /* Mostrar elementos en línea */
    flex-wrap: nowrap; /* No permitir envolver elementos */
    margin: 0; /* Eliminar el margen predeterminado */
    padding: 0; /* Eliminar el relleno predeterminado */
    white-space: nowrap; /* Evitar el retorno automático de línea */

  }
  
  
  .avatar-list li {
    display: inline-block; /* Mostrar elementos en línea */

    flex: 0 0 auto; /* Permitir que los elementos crezcan y se encojan automáticamente */
    margin-right: 10px; /* Espacio entre elementos */
  }
  
  .avatar-imagee {
    width: 110px;
    height: 110px;
    border-radius: 60%;
  }
  
  .avatar-container {
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    overflow-y: hidden; /* Ocultar desplazamiento vertical */
    white-space: nowrap; /* Evitar el retorno automático de línea */
    position: relative; /* Establecer la posición relativa para el contenedor */
    width: 800px; /* Ancho fijo del contenedor */
    display: flex; /* Mostrar elementos como un flex container */
    justify-content: flex-start; /* Alinear elementos en el eje principal hacia el principio */
    display: flex;
    margin: 0 50px; /* Margen horizontal de 10px */
  }
  
  .avatar-container::-webkit-scrollbar {
    width: 20px; /* Ancho de la barra de desplazamiento */
  }
  
  .avatar-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
  }
  
  .avatar-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del cursor de la barra de desplazamiento */
    border-radius: 6px; /* Borde redondeado del cursor */
  }
  
  .avatar-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cambiar el color del cursor al pasar el mouse */
  }
  
  .avatar-scroll {
    display: inline-block; /* Mostrar elementos en línea */
  }
  
  
  
  .confirmar {
    color: white; /* Color del texto blanco */
    font-weight: bold; /* Texto en negrita */

    font-size: 30px; /* Tamaño de fuente para el texto de confirmación */
    margin-bottom: 20px; /* Espacio inferior entre el texto de confirmación y la imagen */
  }
  
  .confirmation-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3F497FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: 80%; /* Ancho del cuadro de diálogo en relación con el tamaño de la pantalla */
    max-width: 600px; /* Ancho máximo del cuadro de diálogo */
    max-height: 700px;
    height: auto; /* Altura automática para adaptarse al contenido */
    text-align: center; /* Centrar el contenido horizontalmente */
  }
  
  .confirmation-dialog img {
    width: 20%; /* Ancho de la imagen del avatar en relación con el cuadro de diálogo */
    max-width: 200px; /* Ancho máximo de la imagen del avatar */
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 20px;
  }
  
  .confirmation-dialog button {
    padding: 10px 50px;
    border: none;
    margin-right: 10px; /* Espacio a la derecha de cada botón */
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; /* Texto en negrita */
    color: white; /* Color del texto blanco */

    font-size: 16px; /* Tamaño de fuente para los botones */
  }
  
  .confirmation-dialog button:first-child {
    background-color: #4CAF50;
  }
  
  .confirmation-dialog button:last-child {
    background-color: #f44336;
  }
  
  .fleex{
    display: flex; /* Usar flexbox para organizar elementos en línea */
    align-items: center; /* Alinear verticalmente al centro */
  }

  .fleex .avatar-imagee {
    flex: 0 0 auto; /* No se expande, no se contrae, tamaño automático */
    margin-right: 30px; /* Espacio entre la imagen y el texto */
  }
  
  .fleex div {
    flex: 1; /* Ocupa todo el espacio disponible */
  }

  .fleex .texto {
    flex: 1; /* Ocupa todo el espacio disponible */
    color: white; /* Color del texto blanco */
    display: flex-start;

    font-weight: bold; /* Texto en negrita */
    margin-bottom: 50px; /* Espacio inferior entre el texto y la imagen */
    margin-left: -50px; /* Eliminar el margen izquierdo */
    font-size: 20px; /* Tamaño de fuente para el texto de confirmación */
  }
  

  .fleex .monedas {
    font-size: 20px; /* Tamaño de fuente para el texto de confirmación */
    display: flex;
    align-items: center; /* Alinear verticalmente al centro */
    margin-left: 100px; /* Eliminar el margen izquierdo */
    margin-bottom: 20px;
  }
  
  .fleex .monedas-icono {
    width: 28px; /* Ancho de la imagen de la moneda */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espacio a la derecha de la imagen de la moneda */  
    margin-top: 20px;
  }

  
  .error-message {
    color: red; /* Color rojo para el mensaje de error */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 10px;
    font-size: 16px; /* Tamaño de fuente del mensaje de error */
  }
  