.number-ranking {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 25px 39px;
    border-radius: 70px; 
    font-size:30px;
font-weight: bold;
  margin-left: 2%;
  }
  
.user-info {
  display: flex; 
  align-items: center;
  margin-left: 6%;
}

.ranking {
  margin-left: 2%;
}